/*fa-comment icon &#xf075;*/
/*fa-cloud-download icon &#xf0ed;*/
/*fa-share-square-o &#xf045;*/
/*search mag &#xf002;*/

/*header font-family: 'Oswald', sans-serif;*/
/*copy font-family: 'Open Sans', sans-serif;*/

body {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

nav {
  margin: 0 auto;
  border: 1px solid white;
  width: 80.6%;
  padding: .5em 0 .5em .5em;
}

nav img {
  border-radius: 50%;
}

header {
  background: url("images/wave.jpg");
}

.title h1 {
  color: white;
  position: static;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 5.5em;
  margin: 0;
  /*text-shadow: 20px 1px 20px rgb(33, 102, 153);*/
  text-shadow: 10px black;
}

.title {
  padding-top: 8.75em;
  padding-bottom: 12em;
  text-align: center;
  /*margin: 0 auto;*/
}

.title span {
  /*position: may need to make this negative*/
  font-size: .2em;
}

header br {
  color: rgb(10, 57, 91);
  position: relative;
}

.brand {
  font-size: .5em;
  color: rgb(8, 52, 82);
}

ul.search li {
  display: inline-block;
}

.search {
  font-size: .5em;
  color: rgb(8, 52, 82);
  float: right;
}

.hero {
  z-index: 0;
  width: 100%;
  background-color: rgba(24, 108, 179, .75);
}
