/*fa-comment icon &#xf075;*/
/*fa-cloud-download icon &#xf0ed;*/
/*fa-share-square-o &#xf045;*/
/*search mag &#xf002;*/

/*header font-family: 'Oswald', sans-serif;*/
/*copy font-family: 'Open Sans', sans-serif;*/

body {
  width: 100%;
  /*font-family: 'Open Sans', sans-serif;*/
}

nav {
  margin: 0 auto;
  /*border: 1px solid white;*/
  width: 80vw;
  padding: .5em 0 .5em .5em;

}

nav img {
  border-radius: 50vw;
  height: 3.5vw;
}

header {
  background: url("images/wave.jpg");
}

.blue_wash {
  z-index: 0;
  width: 100%;
  background-color: rgba(24, 112, 182, 0.75);

}

.title {
  padding-top: 10.5vw;
  padding-bottom: 12vw;
  text-align: center;
  margin: 0 auto;
  height: 26.5vh;
  /*margin: 0 auto;*/
}

.title h1 {
  color: white;
  position: static;
  font-family: 'Open Sans', serif;
  font-weight: normal;
  font-size: 8.25vw;
  margin: 0;
  /*text-shadow: 20px 1px 20px rgb(33, 102, 153);*/
  text-shadow: 0px 2px .2px rgba(45, 93, 135, .75);
  letter-spacing: -0.045em;
  padding-bottom: 0;

}

.title span {
  /*position: may need to make this negative*/
  font-size: 1em;
  color: rgb(9, 54, 85);
  position: relative;
  top: -9px;
  font-weight: 550;
}

.brand {
  display: inline-block;
}

.brand span {
  font-size: 1em;
  color: rgb(8, 52, 82);
  letter-spacing: -0.01em;
  display: inline-block;
  font-weight: 550;
}

.search {
  font-size: 1.1em;
  color: rgb(8, 52, 82);
  float: right;
  letter-spacing: -0.009em;
  height: 4.75em;
  padding-right: 2.5em;
  padding-top: .7em;
}

.search a {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: rgb(8, 52, 82);
  font-weight: 400;
}

/*.horizontal_buffer {
  width: 12.5vw;
  display: inline-block;

}*/

main {
  width: 80vw;
  /*width: 47.5vw; used when buffer was in place*/
  /*background: pink;*/
  /*display: inline-block;*/
  color: rgb(108, 116, 122);
  margin: 0 auto;
}

h2 {
  color: rgb(8, 52, 82);
  font-family: 'Oswald', sans-serif;
  font-size: 4em;
  font-weight: 500;
  letter-spacing: -0.01em;
  margin: 9.25vh 0 0 0;
  line-height: 110%;
}

.post {
  display: inline-block;
  width: 48vw;
  padding-left: 2vw;
  margin-left: 2vw;
}

.sidebar {
  /*width: 22vw;*/
  /*background: grey;*/
  /*padding-left: 6.5vw;*/
  display: inline-block;
  width: 27vw;

}

.sidebar img {
    max-width: 100%;
    display: block;
}

aside {
  
}

/* Buttons */

.feedback {
  content: '';
  display: block;
  clear: both;
}

.button {
  display: inline-block;
  color: white;
  font-size: .75em;
  text-align: center;
}

/*.share_button {
  display: inline-block;
  color: white;
  font-size: .75em;
  text-align: center;
}*/

.button_left {
  width: 30px;
  background: RGB(94, 104, 111);
  display: inline-block;
}

.button_right {
  width: 125px;
  background: rgb(164, 179, 191);
  float: right;
}
