/*fa-comment icon &#xf075;*/
/*fa-cloud-download icon &#xf0ed;*/
/*fa-share-square-o &#xf045;*/
/*search mag &#xf002;*/

/*header font-family: 'Oswald', sans-serif;*/
/*copy font-family: 'Open Sans', sans-serif;*/

body {
  width: 100%;
  /*font-family: 'Open Sans', sans-serif;*/
  font-size: 62.5%;
}

nav {
  margin: 0 auto;
  width: 80vw;
  padding: .5em 0 .5em .5em;

}

nav img {
  border-radius: 50vw;
  width: 10vw;
}

header {
  background: url("images/wave.jpg");
  background-size: cover;
}

.blue_wash {
  z-index: 0;
  width: 100%;
  background-color: rgba(7, 111, 186, 0.75);
}

.title {
  /*padding-top: 10.5vw;
  padding-bottom: 12vw;
  text-align: center;
  margin: 0 auto;
  height: 26.5vh;*/
  text-align: center;
}

.title h1 {
  color: white;
  position: static;
  font-family: 'Open Sans', serif;
  font-weight: normal;
  font-size: 8.25vw;
  margin: 0;
  /*text-shadow: 20px 1px 20px rgb(33, 102, 153);*/
  text-shadow: 0px 2px .2px rgba(45, 93, 135, .75);
  letter-spacing: -0.045em;
  padding-bottom: 0;

}

.title span {
  font-size: 1.5em;
  color: rgb(9, 54, 85);
  font-weight: 550;
}

.brand {
  display: block;
}

.brand span {
  display: none;
}

.search {
  font-size: 1.1em;
  color: rgb(8, 52, 82);
  float: right;
  letter-spacing: -0.009em;
}

.search a {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: rgb(8, 52, 82);
  font-weight: 400;
}

main {
  margin: 0 auto;
}

/*POST START*/

.post {
  display: block;
  width: 90%;
  margin: 0 auto;
}

h2 {
  color: rgb(8, 52, 82);
  font-family: 'Oswald', sans-serif;
  font-size: 6.3em;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 1.126em;
  margin: 0;
}

.author {
  font-size: 1.25em;
}

.post .author img {
  display: none;
}

.post .author h4 {
  display: none;
}

.post_date {
  color: color: RGB(163, 180, 190);
  display: inline-block;
}

.post_date {
  color: RGB(163, 180, 190);
}

main a:link {
  color: RGB(163, 180, 190);
}

main a:link:hover {
  color: RGB(16, 109, 179);
}

.post p {
  font-size: 1.59em;
  line-height: 1.65em;
  color: RGB(117, 125, 131);
}

.pullquote {
  color: rgb(18, 109, 178);
  font-size: 1.75em;
  display: block;
  border-left: 0.1em solid rgb(163, 180, 190);
  padding: 0.75em 0.5em 0.47em .5em;
  text-transform: uppercase;
  margin: 0.5em 0 0.5em 0;
}

/*SIDEBAR START*/

.sidebar {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  vertical-align: top;
}

.sidebar .author img {
  border-radius: 50%;
  width: 5.25rem;
  display: inline-block;
  text-align: center;

}

.sidebar .author h4 {
  margin: 0;
  text-align: center;

}

.sidebar ul {
  margin: 0 auto;
  padding: 2em 0 0 0;
  width: 80%;
  font-size: 1.25em;
}

.sidebar li {
  display: inline-block;
  padding: 0;
  width: 25%;
  padding: 0.05em;

}

.sidebar li:nth-child(2) {
  border-color: rgb(250, 250, 250);
  border-width: 0 0.01em 0 0.01em;
  border-style: solid;
}

.ad {
  display: block;
  width: 90%;
  margin: 0 auto;
}


.ad_info {
  display: block;
  text-align: right;
  margin-top: 0.70em;
  font-size: 1.275em;
}


.sidebar p {
  display: none;
}

.sidebar .sidebar_heading {
  display: none;
}

aside {
  width: 90%;
}

.popular h2 {
  text-align: center;
  border-top: .01em solid RGB(231, 235, 238);
  padding-top: 2em;

}
aside a:link {
  text-decoration: none;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  display: block;
}

aside ul {
  padding: 0;
  display: block;
  content: '';
  clear: both;
}

aside li {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
}

aside li h3 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

aside li img {
  width: 100%;
  text-align: center;
  height: 10em;
  margin: 0 1em 0 1em;
}

footer {
  background: RGB(8, 52, 82);
  color: RGB(163, 179, 191);
  font-family: 'Open Sans', sans-serif;
  content: '';
  display: block;
  clear: both;
  width: 100%;
  font-size: 1.5em;
}

.bottom ul {
  margin: 0 auto;
  padding: 2em 0 0 0;
  width: 80%;
  text-align: center;
}

.bottom li {
  display: inline-block;
  padding: 0;
  width: 25%;
  padding: 0.05em;

}

.bottom li:nth-child(2) {
  border-color: rgb(149, 164, 176);
  border-width: 0 0.01em 0 0.01em;
  border-style: solid;
}

.logo_block {
  margin: 0 auto;
  width: 55%;
}

.logo_block span {
  display: inline-block;
  text-align: center;
}

.logo_block img {
  display: inline-block;
  width: 50px;
  text-align: center;
}

/* Buttons */

.feedback {
  content: '';
  display: block;
  clear: both;
  font-weight: lighter;
}

.button {
  display: inline-block;
  color: white;
  text-align: center;
  box-sizing: border-box;
}

.button_left {
  /*padding-top: .45em;
  padding-right: .45em;
  padding-bottom: .45em;
  padding-left: .45em;*/
  background: RGB(94, 104, 111);
  display: inline-block;
  font-size: 1.6em;
}

.button_right {
  background: rgb(164, 179, 191);
  float: right;
}



@media (min-width: 700px) {

  nav {
    margin: 0 auto;
    width: 80vw;
    padding: .5em 0 .5em .5em;

  }

  nav img {
    border-radius: 50vw;
    width: 3.5vw;
    vertical-align: middle;
  }

  .search {
    font-size: 1.85em;
    color: rgb(8, 52, 82);
    float: right;
    letter-spacing: -0.009em;
    padding-top: .7em;
    padding-right: 0.5em;
    vertical-align: middle;
  }

  .search a {
    vertical-align: middle;
    }

  .search a:first-child {
    padding-right: 0.75em;
  }

  .search:nth-child(2) {
    padding-right: 0.5em;
  }

  .search i {
    font-size: 1em;
    vertical-align: middle;
  }

  .brand {
    padding-top: 0.35vw;

  }

  .brand img {
    padding-left: 1.25vw;
  }

  .brand span {
    font-size: 1.58em;
    color: rgb(8, 52, 82);
    letter-spacing: -0.01em;
    display: inline-block;
    font-weight: 550;
    vertical-align: middle;
    padding-left: 1vw;
  }

  .title {
    padding-top: 11vw;
    padding-bottom: 12vw;
    padding-left: 2vw;
    text-align: center;
    height: 25.5vh;
    margin: 0 auto;
  }

  .title h1 {
    color: white;
    position: static;
    font-family: 'Open Sans', serif;
    font-weight: normal;
    font-size: 8.25vw;
    margin: 0;
    text-shadow: 0px 2px .2px rgba(45, 93, 135, .75);
    letter-spacing: -0.045em;
    padding-bottom: 0;
  }

  .title span {
    font-size: 1.5em;
    color: rgb(9, 54, 85);
    position: relative;
    top: -7px;
    font-weight: 550;
  }

  main {
      width: 87.5%;
      margin: 0 auto;
  }

  .post {
    width: 56%;
    display: inline-block;
    padding-top: 4.8vw;
    padding-left: 6.71vw;
    padding-bottom: 5em;
  }

  .author {
    font-size: 1.25em;
  }

  .post .author img {
    width: 2.25em;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
  }

  .post .author h4 {
    color: RGB(16, 109, 179);
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    letter-spacing: 0.02em;
    padding-left: 0.5em;
  }

  .post_date {
    color: RGB(163, 180, 190);
    display: inline-block;
    vertical-align: middle;
  }

  .pullquote {
    margin-left: 0.5em;
    padding-left: 0.5em;
  }

  .sidebar {
    width: 25.2%;
    display: inline-block;
    margin-left: 5.75vw;
    padding-top: 4.8vw;
  }

  .sidebar .author {
    text-transform: uppercase;
    color: RGB(16, 109, 179);
    margin-top: 1.5em;
    text-align: center;

  }

  .sidebar .author h4 {
    font-weight: 400;
    letter-spacing: 0.006em;
    font-size: 1.25em;
    margin-top: .75em;
  }

  .sidebar .author img {
    border-radius: 50%;
    width: 5.25rem;
    text-align: center;

  }

  .sidebar ul {
    padding: 0;
    margin-top: 0.25em;
    margin-bottom: 4.6em;
    font-size: 1.25em;

  }

  .sidebar li {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  ul li a {
    color: RGB(173, 187, 198);
    text-decoration: none;
  }


  .ad {
      display: block;
      width: 100%;
      margin: 0 auto;
  }

  .ad_info {
    display: block;
    padding-bottom: 3.75em;
  }

  .ad_info a {
    display: block;
  }

  .sidebar p {
    display: inline-block;
    text-align: left;
    font-size: 1.35em;
    line-height: 1.75em;
    color: RGB(178, 191, 201);
  }

  .sidebar .sidebar_heading {
    display: block;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-size: 1.75em;
    color: RGB(25, 114, 182);
  }

  aside {
    width: 100%;
  }

  .popular h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  aside a:link {
    text-decoration: none;
    color: RGB(8, 52, 82);
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 2em;
  }

  aside li h3 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }

  aside ul {
    padding: 0;
    margin: 0;
    content: ' ';
    clear: both;
    display: block;
  }

  aside li {
    width: 25%;
    margin: 0;
    padding: 0;
    float: right;
    /*background: RGB(8, 52, 82);*/
  }

  aside li a:link:hover {
    color: white;
  }

  aside li img {
    width: 100%;
    text-align: center;
    height: auto;
    margin: 0;
    padding: 0;
  }

  /*opacity: 0.5;*/

  footer {
    color: RGB(163, 179, 191);
    background: RGB(8, 52, 82);
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    font-size: 1.5em;
  }

  .bottom {
    content: '';
    display: block;
    clear: both;
  }

  .bottom ul {
    /*float: right;*/
    display: inline-block;
    width: 40%;
    padding: 0;
  }

  .bottom li {
    width: auto;
    /*display: inline-block;*/
  }

  .bottom li:nth-child(2) {
    border-color: rgb(149, 164, 176);
    border-width: 0 0.01em 0 0.01em;
    border-style: solid;
  }

  .bottom li:nth-child(3) {
    border-color: rgb(149, 164, 176);
    border-width: 0 0.01em 0 0;
    border-style: solid;
  }

  .logo_block {
    display: inline-block;
    float: left;
  }

  .logo_block span {
    float: left;
  }

  .logo_block img {
    width: 5em;
    vertical-align: middle;
    float: left;
  }

  .button {
    display: inline-block;
    color: white;
    text-align: center;
    box-sizing: border-box;
  }

  .button_left {
    background: RGB(94, 104, 111);
    display: inline-block;
    font-size: 1.6em;
    padding-top: .45em;
    padding-right: .5em;
    padding-bottom: .45em;
    padding-left: .5em;
  }

  .button_right {
    background: rgb(164, 179, 191);
    float: right;
    font-size: 1.25em;
    font-weight: bolder;
    padding-top: .75em;
    padding-right: 1em;
    padding-bottom: .75em;
    padding-left: 1em;
  }

}

@media (max-width: 800px) {

  .button {
    display: block;
    text-align: center;
  }

  .button_right {
    display: none;
  }

}
